// ==========================================================================
// Main Custom Module
// ==========================================================================

.nav ul {
	padding: 15px 0;
}

#header h1 {
	text-transform: uppercase;
	font-size: 45px;
	font-family: $raleway, sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	a:hover {
		color: $var-white;
		text-decoration: none;
	}
}

#header .links ul li {
	border-left: solid 1px rgba(160, 160, 160, 0.3);
	line-height: 1;
	margin-left: 1em;
	padding-left: 1em;
	a:hover {
		text-decoration: none;
	}
	&:first-child {
		border-left: none;
	}
}

main {
	background-color: #2e3842;
	// title
	.title {
		padding: 20px 0;
		text-align: center;
		font-family: $raleway, sans-serif;
		font-weight: 900;
		font-size: 2em;
		text-transform: uppercase;
	}
	&.spotlight .image img {
		height: 343px;
	}
	// carousel
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		height: 500px;
		width: 100%;
		margin: auto;
	}
	.logo {
		width: 100%;
			margin: 30px auto;
	}
	.video {
		text-align: center;
	}
	.audio {
		text-align: center;
	}
	.learn h1 {
		text-align: center;
		text-transform: uppercase;
		font-family: $raleway;
		font-weight: 300;
		font-size: 2em;
	}
	.learn .row {
		p {
			padding: 0 15px;
			font-family: $raleway;
			font-size: 1em;
		}
		text-align: center;
		padding: 20px 10px;
	}
	.robot {
		width: 376px;
		height: 252px;
	}
}

footer {
	text-align: center;
	padding: 30px 0;
}
